*{padding:0;margin:0;}
body {

    background-color:transparent;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container-fluid {
    display: block;
}
.bar {
    background-color: rgba(255,255,255,0.3);
    margin-top: 54vw;
    width: 8vw;
    height: 0.8vw;
    float: right;
    margin-right: 1vw;
    border: solid 0.1vw black;
}
#sede {
    background-color: #18a3ff;
    height: 100%;
    float: left;
}
#fome {
    background-color: #ff8940;
    height: 100%;
    float: left;
}
.text {
    display: table-cell;
    width: 8vw;
    line-height: 0.8vw;
    font-size: 0.8vw;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    position: absolute;
    vertical-align: middle;
    text-align: center;
}

